<div class="menuContainer verticalScrollBarLight" data-ng-style="{width: menuSize + 'px'}" id="menuContainer">
    <div class="button border" data-ng-style="{backgroundColor: hoverHelp ? themeService.theme.menuSectionalBackground : '' }" data-ng-mouseenter="hoverHelp = true" data-ng-mouseleave="hoverHelp = false" data-ng-click="helpWindow()">HELP / INFO</div>
    <div class="button border" data-ng-style="{backgroundColor: hoverImport ? themeService.theme.menuSectionalBackground : '' }" data-ng-mouseenter="hoverImport = true" data-ng-mouseleave="hoverImport = false" data-ng-click="importExportWindow()">IMPORT / EXPORT</div>
    <div class="button border" data-ng-style="{backgroundColor: hoverRandom ? themeService.theme.menuSectionalBackground : '' }" data-ng-mouseenter="hoverRandom = true" data-ng-mouseleave="hoverRandom = false" data-ng-click="audioService.randomize()">RANDOMIZE CELLS</div>
    <table class="sliders border">
        <tr>
	        <td class="label">{{editingVol ? discService.node.masterGain.gain.value.toFixed(1) : 'VOL'}}</td>
	        <td><div slider data-currently-moving="editingVol" data-slider-value="menuService.vol"></div></td>
        </tr>
        <tr>
	        <td class="label">{{editingSpd ? menuService.spd : 'SPD'}}</td>
	        <td><div slider data-currently-moving="editingSpd" data-fixed-value="0" data-slider-value="menuService.spd" data-min-value="MIN_SPEED" data-max-value="MAX_SPEED"></div></td>
        </tr>
        <tr>
	        <td class="label">{{editingLen ? menuService.len : 'LEN'}}</td>
	        <td><div slider data-currently-moving="editingLen" data-fixed-value="0" data-slider-value="menuService.len" data-call-back="updateLen" data-min-value="4" data-max-value="32"></div></td>
        </tr>
    </table>

    <div class="selector border">
        <span class="title">THEME</span>
        <div class="button"
             data-ng-click="changeTheme(item)"
             data-ng-repeat="item in themeService.themes track by $index">
            <div class="inner"
                 data-ng-style="{backgroundColor: $index === themeService.theme.index ? themeService.theme.menuHighlight : ''}">
	        </div>
        </div>
    </div>
    <div class="selector border">
        <span class="title">VISUALISER</span>
        <div class="button"
             data-ng-click="changeVisualizer(item)"
             data-ng-repeat="item in visualizerService.visualizers track by $index">
            <div class="inner"
                 data-ng-style="{backgroundColor: $index === visualizerService.visualizer.index ? themeService.theme.menuHighlight : ''}">
            </div>
        </div>
    </div>
    <div class="selector border">
        <span class="title">SYNTH TEMPLATE</span>
        <div class="button" data-ng-click="changeSynth(item)"
             data-ng-right-click="resetSynth($index)"
             data-ng-repeat="item in audioService.synthTemplates track by $index">
            <div class="inner"
                 data-ng-style="{backgroundColor: $index == resetIndex ? '#FF0000' : $index == audioService.synthTemplate.index ? themeService.theme.menuHighlight : ''}">{{$index == resetIndex ? 'X' : ''}}</div>
        </div>
    </div>

    <div class="animation synthControls" data-ng-hide="showHelpScreen"></div>

</div>
