<div class="menuContainer" data-ng-style="{width: menuSize + 'px'}" id="menuContainer">
    <div class="button border" data-ng-style="{backgroundColor: hoverHelp ? themeService.theme.menuSectionalBackground : '' }" data-ng-mouseenter="hoverHelp = true" data-ng-mouseleave="hoverHelp = false" data-ng-click="helpWindow()">HELP / INFO</div>
    <div class="button border" data-ng-style="{backgroundColor: hoverImport ? themeService.theme.menuSectionalBackground : '' }" data-ng-mouseenter="hoverImport = true" data-ng-mouseleave="hoverImport = false" data-ng-click="importExportWindow()">IMPORT / EXPORT</div>
    <div class="button border" data-ng-style="{backgroundColor: hoverRandom ? themeService.theme.menuSectionalBackground : '' }" data-ng-mouseenter="hoverRandom = true" data-ng-mouseleave="hoverRandom = false" data-ng-click="discService.randomize()">RANDOMIZE CELLS</div>
    <table class="sliders border">
        <tr><td class="label">{{editingVol ? discService.node.masterGain.gain.value.toFixed(1) : 'VOL'}}</td><td><div class="slider" data-currently-moving="editingVol" data-slider-value="discService.node.masterGain.gain.value"></div></td></tr>
        <tr><td class="label">{{editingSpd ? discService.spd.toFixed(1) : 'SPD'}}</td><td>                     <div class="slider" data-currently-moving="editingSpd" data-slider-value="discService.spd"></div></td></tr>
        <tr><td class="label">{{editingLen ? (4 + (discService.len*28)).toFixed(0) : 'LEN'}}</td><td>          <div class="slider" data-currently-moving="editingLen" data-slider-value="discService.len" data-call-back="updateLen"></div></td></tr>
    </table>

    <div class="selector border">
        <span class="title">THEME</span>
        <div class="button" data-ng-click="changeTheme(item)" data-ng-repeat="item in themeService.themes track by $index">
            <div class="inner" data-ng-style="{backgroundColor: themeService.theme == item ? themeService.theme.menuHighlight : ''}"></div>
        </div>
    </div>
    <div class="selector border">
        <span class="title">VISUALISER</span>
        <div class="button" data-ng-click="changeVisualizer($index)" data-ng-repeat="item in visualizerService.visualizers track by $index">
            <div class="inner" data-ng-style="{backgroundColor: $index == visualizerService.visualizerIndex ? themeService.theme.menuHighlight : ''}"></div>
        </div>
    </div>
    <div class="selector border">
        <span class="title">SYNTH TEMPLATE</span>
        <div class="button" data-ng-click="changeSynth($index)" data-ng-right-click="resetSynth($index)" data-ng-repeat="item in discService.synthTemplates track by $index">
            <div class="inner" data-ng-style="{backgroundColor: $index == resetIndex ? '#FF0000' : $index == discService.synthIndex ? themeService.theme.menuHighlight : ''}">{{$index == resetIndex ? 'X' : ''}}</div>
        </div>
    </div>

    <div class="animation synthControls" data-ng-hide="showHelpScreen"></div>

</div>
