<div class="menuContainer verticalScrollBarLight" data-ng-style="{width: menuSize + 'px'}" id="menuContainer">
    <div class="button border"
         data-ng-style="{backgroundColor: hoverHelp ? themeService.theme.menuSectionalBackground : '' }"
         data-ng-mouseenter="hoverHelp = true"
         data-ng-mouseleave="hoverHelp = false"
         data-ng-click="showHelpWindow = !showHelpWindow">HELP / INFO</div>
	<div class="infoBox" help-window data-ng-show="showHelpWindow"></div>

    <div class="button border"
         data-ng-style="{backgroundColor: hoverImport ? themeService.theme.menuSectionalBackground : '' }"
         data-ng-mouseenter="hoverImport = true"
         data-ng-mouseleave="hoverImport = false"
         data-ng-click="showImportExportWindow = !showImportExportWindow">IMPORT / EXPORT</div>
	<div class="infoBox" import-export-window data-ng-show="showImportExportWindow" data-panel-open="showImportExportWindow"></div>

    <div class="button border"
         data-ng-style="{backgroundColor: hoverRandom ? themeService.theme.menuSectionalBackground : '' }"
         data-ng-mouseenter="hoverRandom = true"
         data-ng-mouseleave="hoverRandom = false"
         data-ng-click="audioService.randomize()">RANDOMIZE CELLS</div>

    <table class="sliders border">
        <tr>
	        <td class="label">{{editingVol ? audioService.node.masterGain.gain.value.toFixed(1)*10 : 'VOL'}}</td>
	        <td><div slider data-currently-moving="editingVol" data-slider-value="audioService.node.masterGain.gain.value"></div></td>
        </tr>
        <tr>
	        <td class="label">{{editingTempo ? $localStorage.tempo : 'SPD'}}</td>
	        <td><div slider data-currently-moving="editingTempo" data-fixed-value="0" data-slider-value="$localStorage.tempo" data-min-value="TEMPO_CONSTRAINTS.MIN" data-max-value="TEMPO_CONSTRAINTS.MAX"></div></td>
        </tr>
        <tr>
	        <td class="label">{{editingLen ? $localStorage.discLength : 'LEN'}}</td>
	        <td><div slider data-currently-moving="editingLen" data-fixed-value="0" data-slider-value="$localStorage.discLength" data-min-value="LENGTH_CONSTRAINTS.MIN" data-max-value="LENGTH_CONSTRAINTS.MAX"></div></td>
        </tr>
    </table>

    <div class="selector border">
        <span class="title">THEME</span>
        <div class="button"
             data-ng-click="changeTheme($index)"
             data-ng-repeat="item in themeService.themes track by $index">
            <div class="inner"
                 data-ng-style="{backgroundColor: $index === themeService.theme.index ? themeService.theme.menuHighlight : ''}">
	        </div>
        </div>
    </div>
    <div class="selector border">
        <span class="title">ANIMATION</span>
        <div class="button"
             data-ng-click="changeAnimaton($index)"
             data-ng-repeat="item in animationService.animations track by $index">
            <div class="inner"
                 data-ng-style="{backgroundColor: $index === animationService.animation.index ? themeService.theme.menuHighlight : ''}">
            </div>
        </div>
    </div>
    <div class="selector border">
        <span class="title">SYNTH TEMPLATE</span>
        <div class="button"
             data-ng-click="changeSynth($index)"
             data-ng-right-click="resetSynth($index)"
             data-ng-repeat="item in audioService.synthTemplates track by $index">
            <div class="inner"
                 data-ng-style="{backgroundColor: $index == resetIndex ? '#FF0000' : $index == audioService.synthTemplate.index ? themeService.theme.menuHighlight : ''}">{{$index == resetIndex ? 'X' : ''}}</div>
        </div>
    </div>

    <div synth-controls data-fx="audioService.fx" data-node="audioService.node"></div>

</div>
