<div class="synthControlsContainer">

    <div class="section left">
        <span class="title">Oscillators</span>
        <div class="left">
            <div drop-down
                 data-list="oscWaveTypes"
                 data-selected="node.osc1.type"></div>
            <div drop-down
                 data-list="oscWaveTypes"
                 data-selected="node.osc2.type"></div>
            <div drop-down
                 data-list="oscWaveTypes"
                 data-selected="node.osc3.type"></div>
        </div>
        <div class="right">
            <div knob data-label="'D'" data-size="40" data-min-value="-2000" data-max-value="2000" data-knob-value="node.osc1.detune.value"></div>
            <div knob data-label="'D'" data-size="40" data-min-value="-2000" data-max-value="2000" data-knob-value="node.osc2.detune.value"></div>
            <div knob data-label="'D'" data-size="40" data-min-value="-2000" data-max-value="2000" data-knob-value="node.osc3.detune.value"></div>
        </div>
    </div>

	<div class="section" data-ng-style="{backgroundColor: !fx.moogfilter.bypass ? themeService.theme.menuSectionalBackground : ''}">
		<span class="title" data-ng-click="fx.moogfilter.bypass = !fx.moogfilter.bypass">Moog Filter</span>
		<div knob data-label="'Buf'" data-size="55" data-min-value="256" data-max-value="16384" data-knob-value="fx.moogfilter.bufferSize"></div>
		<div knob data-label="'Cut'" data-size="55" data-min-value="0.0001" data-max-value="1" data-knob-value="fx.moogfilter.cutoff"></div>
		<div knob data-label="'Res'" data-size="55" data-min-value="0" data-max-value="4" data-knob-value="fx.moogfilter.resonance"></div>
	</div>
	<div class="section" data-ng-style="{backgroundColor: !fx.overdrive.bypass ? themeService.theme.menuSectionalBackground : ''}">
		<span class="title" data-ng-click="fx.overdrive.bypass = !fx.overdrive.bypass">Overdrive</span>
		<div knob data-label="'Gai'" data-size="55" data-knob-value="fx.overdrive.outputGain.value"></div>
		<div knob data-label="'Drv'" data-size="55" data-knob-value="fx.overdrive.drive.value"></div>
		<div knob data-label="'Crv'" data-size="55" data-knob-value="fx.overdrive.curveAmount"></div>
	</div>
	<div class="section" data-ng-style="{backgroundColor: !fx.bitcrusher.bypass ? themeService.theme.menuSectionalBackground : ''}">
		<span class="title" data-ng-click="fx.bitcrusher.bypass = !fx.bitcrusher.bypass">Bit Crusher</span>
		<div knob data-label="'Bit'" data-size="55" data-min-value="1" data-max-value="16" data-knob-value="fx.bitcrusher.bits"></div>
		<div knob data-label="'Siz'" data-size="55" data-min-value="256" data-max-value="16384" data-knob-value="fx.bitcrusher.bufferSize"></div>
		<div knob data-label="'Frq'" data-size="55" data-min-value="0.0001" data-max-value="1" data-knob-value="fx.bitcrusher.normFreq"></div>
	</div>
	<div class="section" data-ng-style="{backgroundColor: !fx.tremolo.bypass ? themeService.theme.menuSectionalBackground : ''}">
		<span class="title" data-ng-click="fx.tremolo.bypass = !fx.tremolo.bypass">Tremolo</span>
		<div knob data-label="'Int'" data-size="55" data-knob-value="fx.tremolo.intensity"></div>
		<div knob data-label="'Rat'" data-size="55" data-min-value="0.1" data-max-value="11" data-knob-value="fx.tremolo.rate"></div>
		<div knob data-label="'Phs'" data-size="55" data-min-value="0" data-max-value="180" data-knob-value="fx.tremolo.stereoPhase"></div>
	</div>
	<div class="section" data-ng-style="{backgroundColor: !fx.convolver.bypass ? themeService.theme.menuSectionalBackground : ''}">
		<span class="title" data-ng-click="fx.convolver .bypass = !fx.convolver .bypass">Convolver</span>
		<div knob data-label="'Hi'"  data-size="59" data-min-value="20" data-max-value="22050" data-knob-value="fx.convolver.highCut.value"></div>
		<div knob data-label="'Lo'"  data-size="59" data-min-value="20" data-max-value="22050" data-knob-value="fx.convolver.lowCut.value"></div>
		<div knob data-label="'Dry'" data-size="59" data-min-value="0" data-max-value="5" data-knob-value="fx.convolver.dryLevel.value"></div>
		<div knob data-label="'Wet'" data-size="59" data-min-value="0" data-max-value="5" data-knob-value="fx.convolver.wetLevel.value"></div>
	</div>
	<div class="section" data-ng-style="{backgroundColor: !fx.delay.bypass ? themeService.theme.menuSectionalBackground : ''}">
		<span class="title" data-ng-click="fx.delay.bypass = !fx.delay.bypass">Delay</span>
		<div knob data-label="'Wet'" data-size="55" data-knob-value="fx.delay.wetLevel.value"></div>
		<div knob data-label="'Dry'" data-size="55" data-knob-value="fx.delay.dryLevel.value"></div>
		<div knob data-label="'Fbk'" data-size="55" data-knob-value="fx.delay.feedback.value"></div>
		<div knob data-label="'Dly'" data-size="55" data-min-value="0" data-max-value="300"  data-knob-value="fx.delay.delayTime.value"></div>
		<div knob data-label="'Cut'" data-size="55" data-min-value="20" data-max-value="22050" data-knob-value="fx.delay.cutoff.value"></div>
	</div>

</div>